<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set" >
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <settings>
      <!-- Below settings describes your Azure AD B2C settings -->
      <!-- you need to replace below client id with your azure application ID that we preserved from step 5 of Azure AD configuration -->
      <setting name="B2C_ApplicationId" value="6c225f77-9fbc-44c4-981f-d2c1e22b888a" />
      <setting name="B2C_AADInstance" value="https://SitecoreServicesExamples.b2clogin.com/SitecoreServicesExamples.onmicrosoft.com/B2C_1_SignInSignUp/v2.0/" />
      <!-- This url will be used when we don't use Owin and impliment our own way of authentication. -->
      <setting name="B2C_AADInstance4Manual" value="https://SitecoreServicesExamples.b2clogin.com/SitecoreServicesExamples.onmicrosoft.com/B2C_1_SignInSignUp/v2.0/" />
      <!-- you need to replace below Tenant with your azure AD domain which we created from step 2 of Azure AD configuration -->
      <setting name="B2C_Tenant" value="SitecoreServicesExamples.onmicrosoft.com" />
      <!-- your Sitecore SignInUpPolicy-->
      <setting name="B2C_SignInUpPolicy" value="B2C_1_SignInSignUp" />
      <setting name="B2C_MetadataEndPoint" value="https://sitecoreservicesexamples.b2clogin.com/SitecoreServicesExamples.onmicrosoft.com/B2C_1_SignInSignUp/v2.0/.well-known/openid-configuration"/>
    </settings>
    <pipelines>
      <owin.identityProviders>
        <!-- This is the custom processor that gets executed when azure AD posts the token to Sitecore -->
        <processor patch:before="processor[@type='Sitecore.Owin.Authentication.IdentityServer.Pipelines.IdentityProviders.ConfigureIdentityServer, Sitecore.Owin.Authentication.IdentityServer']" type="Sitecore.Examples.Security.AzureB2C.AzureAdB2CIdentityProviderProcessor, NextJsAndAzureB2C" resolve="true" />
      </owin.identityProviders>
    </pipelines>
    <federatedAuthentication>
      <identityProviders hint="list:AddIdentityProvider">
        <identityProvider id="xp0.azureAD.B2C" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
          <param desc="name">$(id)</param>
          <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
          <caption>Sign with Azure B2C</caption>
          <domain>sitecore</domain>
          <icon>signin__azure_adB2C</icon>
          <transformations hint="list:AddTransformation">
            <!-- you need to have and Idp Claim for this to work -->
            <!--<transformation name="Idp Claim" ref="federatedAuthentication/sharedTransformations/setidpclaim" />-->
            <transformation name="Idp Claim" type="Sitecore.Owin.Authentication.Services.SetIdpClaimTransform, Sitecore.Owin.Authentication" />
            <transformation name="map role to idp" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="idp" value="xp0.azureAD.B2C" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\developer" />
                <!--<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\extranet user" />-->
              </targets>
              <keepSource>true</keepSource>
            </transformation>
          </transformations>
        </identityProvider>
      </identityProviders>
      <!-- Property initializer assigns claim values to sitecore user properties -->
      <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication" resolve="true">
        <maps hint="list">
          <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="emails" />
              <!--property name-->
              <target name="Email" />
            </data>
          </map>
          <map name="Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
              <!--property name-->
              <target name="Name" />
            </data>
          </map>
        </maps>
      </propertyInitializer>
      <identityProvidersPerSites>
        <mapEntry name="b2c" resolve="true" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
          <sites hint="list">
            <site>nextjs</site>
          </sites>
          <!-- Registered identity providers for above providers -->
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='xp0.azureAD.B2C']" />
          </identityProviders>

          <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication" resolve="true">
            <param desc="isPersistentUser">false</param>
          </externalUserBuilder>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>

    <!-- DISABLES IDENTITY SERVER -->
    <!--<federatedAuthentication>
      <identityProviders>
        <identityProvider id="SitecoreIdentityServer">
          <enabled>false</enabled>
        </identityProvider>
      </identityProviders>
    </federatedAuthentication>
        
    <sites>
      <site name="shell" set:loginPage="/sitecore/login"/>
      <site name="admin" set:loginPage="/sitecore/admin/login.aspx"/>
    </sites>-->

  </sitecore>
</configuration>