<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!--
      Since this solution is designed for Sitecore-first JSS workflow, remove editor
      warnings regarding import overwrites.
    -->
    <pipelines>
      <group groupName="javaScriptServices">
        <pipelines>
            <item.getItemNotifications>
              <processor type="Sitecore.JavaScriptServices.AppServices.Pipelines.GetItemNotifications.IsItemAllowedForOverwrite, Sitecore.JavaScriptServices.AppServices">
                <patch:delete />
              </processor>
          </item.getItemNotifications>
        </pipelines>
      </group>
    </pipelines>

  </sitecore>
</configuration>
