<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <sites>
      <site patch:before="site[@name='website']"
            inherits="website"
            name="site-two"
            hostName="site-two.dev.local"
            rootPath="/sitecore/content/site-two"
            startItem="/home"
            database="master" />
    </sites>
    <javaScriptServices>
      <apps>
        <app name="site-two"
             layoutServiceConfiguration="default"
             sitecorePath="/sitecore/content/site-two"
             useLanguageSpecificLayout="true"
             graphQLEndpoint="/sitecore/api/graph/edge"
             deploymentSecret="gsuncuk94iabl0fzrc99mhswa7lddjise3sygv6bpql"
             inherits="defaults" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
